::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html,
body,
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: monospace;
}