@import "./style.base.less";
.chat {
    .chat-box-sizing__border-box {
        box-sizing: border-box;
    }
    .chat-m-top__xx-small {
        margin: 3px 0 0 0;
    }
    .chat-m-around__small {
        margin: 3px;
    }
    .chat-m-horizontal__small {
        margin: 3px 0;
    }
    .chat-m-horizontal__xx-small {
        margin: 2px 0;
    }
    .chat-m-horizontal__xxx-small {
        margin: 1px 0;
    }
    .chat-m-vertical_small {
        margin: 0 3px;
    }
    .chat-m-vertical_xx-small {
        margin: 0 2px;
    }
    .chat-m-vertical_xxx-small {
        margin: 0 1px;
    }
    .chat-p-vertical__small {
        padding: 0 2px;
    }
    .chat-p-vertical__xx-small {
        padding: 0 2px;
    }
    .chat-p-vertical__xxx-small {
        padding: 0 1px;
    }
    .chat-p-around__small {
        padding: 3px;
    }
    .chat-flex__center {
        display: flex;
        align-items: center;
    }
    .chat-size__1-of-2 {
        flex: 1 0 auto;
        height: 20px;
    }
    .chat-radius__small {
        border-radius: 3px;
    }
    .chat-radius-t-l__small {
        border-top-left-radius: 3px;
    }
    .chat-radius__xx-small {
        border-radius: 2px;
    }
    .chat-radius__xxx-small {
        border-radius: 1px;
    }
    .chat-p__relative {
        position: relative;
    }
    .chat-scale__x-small {
        transform: scale(.8);
    }
    .chat-box {
        max-width: 400px;
        min-width: 400px;
        display: inline-block;
        margin: 0 auto;
        line-height: 1rem;
        height: 500px;
        border: 1px solid #bab0b0;
        flex: 1 0 auto;
        border-radius: 3px;
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        .chat-by {
            align-items: center;
            border: #dddbda 0 solid;
            border-bottom-width: 1px;
            color: #706e6b;
            display: flex;
            font-size: 0.8125rem;
            justify-content: flex-end;
            padding: 0.5rem 0;
            width: 100%;
            height: 5%;
            .chat-setting {
                width: 80px;
                height: 20px;
                user-select: none;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin-right: 5px;
                text-align: center;
                .chat-setting__close {
                    border-radius: 50%;
                    display: inline-block;
                    margin: 3px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid #bab0b0;
                    color: #bab0b0;
                    &:hover {
                        background-color: #bab0b0;
                        color: #fff;
                    }
                    &::after {
                        content: "\D7";
                        display: inline-block;
                    }
                }
                .chat-setting__reset {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    margin: 3px;
                    border-radius: 50%;
                    border: 1px solid #bab0b0;
                    background-color: #fff;
                    color: #bab0b0;
                    &:hover {
                        background-color: #bab0b0;
                        color: #fff;
                    }
                    &::after {
                        content: "+";
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        ul {
            list-style: none;
            width: 100%;
            padding: 10px 0px;
            height: 300px;
            margin: 0px;
            overflow: auto;
            height: 60%;
        }
        .chat-text {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            font-size: 0.8125rem;
            width: 100%;
            white-space: pre-line;
            &::after {
                content: attr(data-time);
                color: #706e6b;
                font-size: 0.6rem;
                display: block;
            }
            &::before {
                display: none;
                content: "123";
            }
        }
        .chat-reciver__container {
            text-align: right;
            min-width: 40px;
            &::after {
                text-align: right;
                margin: 0.5rem 0.5rem 0 0;
            }
        }
        .chat-sender__container {
            &::after {
                text-align: left;
                margin: 0.5rem 0 0 0.5rem;
            }
        }
        .chat-sender {
            background-color: #f2f2f3;
            border-radius: 0.5rem 0.5rem 0.5rem 0;
            color: #3e3e3c;
            min-width: 40px;
            padding: 0.5rem;
            text-align: left;
            display: inline-block;
            &:hover {
                background-color: #706e6b;
            }
            &::after {
                text-align: left;
                margin: 0.125rem 0 0 0.5rem;
            }
        }
        .chat-reciver {
            background-color: #005fb2;
            border-radius: 0.5rem 0.5rem 0;
            color: white;
            padding: 0.5rem;
            text-align: left;
            display: inline-block;
            &:hover {
                background-color: #706e6b;
            }
            &::after {
                text-align: right;
                margin: 0.125rem 0.5rem 0 0;
            }
        }
        .chat-message {
            border-top: #dddbda 1px solid;
            width: 100%;
            height: 25%;
            .chat-message-editor {
                resize: none;
                width: calc( 100% - 40px);
                margin: 10px 20px;
                height: 100px;
                border: 0px;
                outline: none;
            }
            .chat-send {
                height: calc(100% - 160px);
                display: block;
                text-align: right;
                padding: 0 5px;
                .chat-send__button {
                    background-color: #fff;
                    color: #222;
                    display: inline-block;
                    border: 1px solid #c1c1c1;
                    border-radius: 4px;
                    padding: 3px 20px;
                    font-size: 14px;
                    user-select: none;
                    height: 20px;
                    cursor: pointer;
                    margin: 3px;
                    line-height: 1.5rem;
                    word-break: keep-all;
                    &:hover {
                        background-color: #f2f2f3;
                        color: #3e3e3c;
                    }
                }
            }
        }
    }
    .chat {
        width: 150px;
        height: 500px;
        display: inline-flex;
        flex-direction: column;
        align-content: stretch;
        border: 1px solid #bab0b0;
        border-radius: 4px 0 0 4px;
        .chat-tabs-container {
            &::after {
                content: "";
                width: 100%;
                display: block;
                border-bottom: 1px solid #bab0b0;
                position: relative;
            }
            .chat-tabs {
                height: 30px;
                .chat-tab {
                    background-color: #fff;
                    height: 100%;
                    &:nth-child(2) {
                        border-left: 1px solid #bab0b0;
                    }
                    &:hover {
                        background-color: #bab0b0;
                        border-radius: 3px 3px 0 0;
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
        }
        .chat-searchbox {
            height: 35px;
            text-align: right;
            border: 1px solid #bab0b0;
            input {
                text-align: left;
                width: 100%;
                padding: 3px;
                padding-right: 18px;
                height: 30px;
                max-height: 30px;
                outline: none;
                border: 0px;
            }
        }
        .chat-friend-list {
            flex: 1 0 auto;
            height: 200px;
            .chat-friend {
                background-color: #fff;
                height: 100%;
                overflow: auto;
            }
        }
    }
    .chat2 {
        height: 500px;
        border: 1px solid #bab0b0;
        border-left: 0;
        flex: 1 0 auto;
        border-radius: 3px;
        width: 400px;
        min-width: 400px;
        max-width: 400px;
    }
    .chat-flex__row {
        display: flex;
        flex-direction: row;
    }
    /**
     * TODO for combbox
     */
    .search {
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid #bab0b0;
        border-radius: 50%;
        position: absolute;
        right: .4rem;
        &::after {
            width: 5px;
            height: 0px;
            content: "";
            border: 1px solid #bab0b0;
            background-color: #bab0b0;
            position: relative;
            display: inline-block;
            transform: rotate(45deg);
            left: 5px;
            top: 2px;
        }
    }
}