<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="chat">
        <div id="chat1">chat1</div>
        <div id="chat2">chat2</div>
    </div>

    <script type="text/x-template" id="chat-overlay-template">
        <div class="chat chat-p-around__small ">
            <div class="chat-radius-t-l__small chat-tabs-container">
                <div class="chat-tabs chat-flex__center ">
                    <div class="chat-tab chat-size__1-of-2 "></div>
                    <div class="chat-tab chat-size__1-of-2 "></div>
                </div>
            </div>
            <div class="chat-searchbox chat-m-horizontal__small chat-radius__small chat-p-vertical__xxx-small chat-m-horizontal_small chat-p__relative chat-box-sizing__border-box chat-flex__center">
                <input type="text" class="chat-box-sizing__border-box " placeholder="Search" />
                <div class="search chat-scale__x-small "></div>
            </div>
            <div class="chat-friend-list chat-m-vertical_small">
                <ul class="chat-friend">
                </ul>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="chat-template">
        
        <div class="chat-box chat-p-around__small">
            <div class="chat-by">
                <div></div>
                <div class="chat-setting">
                    <span class="chat-setting__min"></span>
                    <span class="chat-setting__max"></span>
                    <span class="chat-setting__reset"></span>
                    <span class="chat-setting__close"></span>
                </div>
            </div>
            <ul class="chat-list">
            </ul>
            <div class="chat-message chat-flex__center">
                <textarea class="chat-message-editor" wrap="soft"></textarea>
                <div class="chat-send">
                    <div class="chat-send__button"> </div>
                </div>
            </div>
        </div>
    </script>
</body>

</html>
